# dependencies
node_modules/
.pnpm-store/

# Production build
dist/
build/

# Local env files
.env
.env.*.local

# IDE & editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# Vite cache
node_modules/.vite

